In [5]:
# 含重复标签的Index
import pandas as pd
serd = pd.Series(range(6),index=[1,2,3,4,1,3])

print(serd[1])
print(type(serd))

1    0
1    4
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
# 使用is_unique判断Series和dataframe是否存在重复的索引
print(serd.index.is_unique)

False

In [15]:
#更换索引，使用reindex可以更换Series对象的索引
import pandas as pd

serd = pd.Series(range(4),index=['a','b','c','d'])
print(serd)
print("="*30)
print(serd.reindex(['c','two','three','a'],method="ffill"))   # 默认按照位置新添加的元素相对位置的上个元素填充
print("="*30)
print(serd.reindex(['a','n','b','c','e','d'],method="ffill"))

a    0
b    1
c    2
d    3
dtype: int64
==============================
c        2
two      3
three    3
a        0
dtype: int64
==============================
a    0
n    3
b    1
c    2
e    3
d    3
dtype: int64

In [19]:
# 删除元素（Series对象）使用drop方法
import pandas as pd 
serd = pd.Series(range(6),index=[6,5,4,3,2,1])
print(serd)
print("删除索引为5，4 数据为：")
print(serd.drop([5,4]))

6    0
5    1
4    2
3    3
2    4
1    5
dtype: int64
删除索引为5，4 数据为：
6    0
3    3
2    4
1    5
dtype: int64

In [34]:
# 删除dataframe数据
import numpy as np
import pandas as pandas

serd2 = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['a','b','c','d'],
                    columns=[1,2,3,4])
print(serd2)
print("="*30)
print(serd2.drop("a"))   # 删除行索引为a的数据
print("="*30)
print(serd2.drop([1,2],axis=1))   # 删除列的数据需要指定axis=1

    1   2   3   4
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
==============================
    1   2   3   4
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
==============================
    3   4
a   2   3
b   6   7
c  10  11
d  14  15

算术和数据对齐

In [41]:
# Series对象之间的对齐
import pandas as pd
s1 = pd.Series([1,2,3,4],['a','b','c','d'])
s2 = pd.Series([5,6,7,8],['x','y','c','j'])
s1+s2

a     NaN
b     NaN
c    10.0
d     NaN
j     NaN
x     NaN
y     NaN
dtype: float64

In [43]:
# Dataframe对象之间的运算
frame1 = pd.DataFrame(np.arange(16).reshape(4,4),
                     index=['a','b','c','d'],
                     columns=[1,2,3,4])
frame2 = pd.DataFrame(np.arange(16).reshape(4,4),
                     index=['a','r','c','j'],
                     columns=[0,2,3,8])
print(frame1)
print(frame2)
print("="*30)
frame1 + frame2

    1   2   3   4
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
    0   2   3   8
a   0   1   2   3
r   4   5   6   7
c   8   9  10  11
j  12  13  14  15
==============================

    0   1     2     3   4   8
a NaN NaN   2.0   4.0 NaN NaN
b NaN NaN   NaN   NaN NaN NaN
c NaN NaN  18.0  20.0 NaN NaN
d NaN NaN   NaN   NaN NaN NaN
j NaN NaN   NaN   NaN NaN NaN
r NaN NaN   NaN   NaN NaN NaN

数据结构之间的运算：
add()   相加；
sub()   相减；
div()   相除；
mul()   相乘；

In [49]:
frame1 = pd.DataFrame(np.arange(16).reshape(4,4),
                     index=['a','b','c','d'],
                     columns=[1,2,3,4])
frame2 = pd.DataFrame(np.arange(16).reshape(4,4),
                     index=['a','b','c','d'],
                     columns=[1,2,3,4])

print(frame1.add(frame2))    # 相加
print("="*30)
print(frame1.sub(frame2))    # 相减
print("="*30)
print(frame1.mul(frame2))    # 相乘
print("="*30)
print(frame1.div(frame2))    # 相除

    1   2   3   4
a   0   2   4   6
b   8  10  12  14
c  16  18  20  22
d  24  26  28  30
==============================
   1  2  3  4
a  0  0  0  0
b  0  0  0  0
c  0  0  0  0
d  0  0  0  0
==============================
     1    2    3    4
a    0    1    4    9
b   16   25   36   49
c   64   81  100  121
d  144  169  196  225
==============================
     1    2    3    4
a  NaN  1.0  1.0  1.0
b  1.0  1.0  1.0  1.0
c  1.0  1.0  1.0  1.0
d  1.0  1.0  1.0  1.0

In [2]:
# 等级索引和分级，下面是简单的包含两列索引的Series对象

import numpy as np
import pandas as pd 

mser = pd.Series(np.random.rand(8),index=[['white','white','white','blue','blue','blue','red','red'],
                                         ['up','right','down','up','right','up','right','down']])
print(mser)

white  up       0.208416
       right    0.755918
       down     0.762875
blue   up       0.461128
       right    0.100627
       up       0.805978
red    right    0.751424
       down     0.096177
dtype: float64

In [4]:
mser.index   #

MultiIndex(levels=[['blue', 'red', 'white'], ['down', 'right', 'up']],
           labels=[[2, 2, 2, 0, 0, 0, 1, 1], [2, 1, 0, 2, 1, 2, 1, 0]])

In [6]:
# 通过索引选取元素
mser['white']

up       0.208416
right    0.755918
down     0.762875
dtype: float64

In [11]:
# 选取第二列索引中的某一索引项元素
mser[ : ,'up']

white    0.208416
blue     0.461128
blue     0.805978
dtype: float64

In [15]:
# 使用unstack()函数可以将等级索引的Series对象转换为一个简单的DataFrame对象
import numpy as np
import pandas as pd 

mser = pd.Series(np.random.rand(8),index=[['white','white','white','blue','blue','blue','red','red'],
                                         ['up','right','down','up','right','down','up','right',]])
mser.unstack()

           down     right        up
blue   0.098925  0.865545  0.170421
red         NaN  0.572834  0.354113
white  0.290347  0.110232  0.842834

In [8]:
# 使用stack()可以将DataFrame对象转换为Series对象
import numpy as np
import pandas as pd 

frame = pd.DataFrame(np.arange(12).reshape(3,4),index=['blue','red','black'],
                    columns =['down','left','right','up'])
frame.stack()

blue   down      0
       left      1
       right     2
       up        3
red    down      4
       left      5
       right     6
       up        7
black  down      8
       left      9
       right    10
       up       11
dtype: int32

In [20]:
import numpy as np
import pandas as pd 

frame = pd.DataFrame(np.arange(16).reshape(4,4),index=[['blue','blue','red','red'],[1,2,3,4]],
                    columns =[['down','down','up','up'],[1,2,1,2]])
frame

       down      up
          1   2   1   2
blue 1    0   1   2   3
     2    4   5   6   7
red  3    8   9  10  11
     4   12  13  14  15

In [21]:

frame.columns.names = ['object','id']
print(frame)

object down      up
id        1   2   1   2
blue 1    0   1   2   3
     2    4   5   6   7
red  3    8   9  10  11
     4   12  13  14  15

In [22]:
frame.index.names = ['colors','status']
print(frame)

object        down      up
id               1   2   1   2
colors status
blue   1         0   1   2   3
       2         4   5   6   7
red    3         8   9  10  11
       4        12  13  14  15

In [25]:
# swaplevel()函数以要互换位置的两个层级的名称为参数，返回交换位置后的一个新的对象
# 其余各元素的顺序保持不变
frame.swaplevel('colors','status')

object        down      up
id               1   2   1   2
status colors
1      blue      0   1   2   3
2      blue      4   5   6   7
3      red       8   9  10  11
4      red      12  13  14  15

In [31]:
# sortlevel（）函数之更具一个层级对数据排序
frame.sort_index(level="colors")  # 等于frame.sortlevel("colors")但是这一个已经被前者代替

object        down      up
id               1   2   1   2
colors status
blue   1         0   1   2   3
       2         4   5   6   7
red    3         8   9  10  11
       4        12  13  14  15

In [36]:
# 对一行层级进行统计，把层级的名称赋予level选项
frame.sum(level='colors')

object down      up
id        1   2   1   2
colors
blue      4   6   8  10
red      20  22  24  26

In [37]:
# 对一列层级进行统计，把层级的名称赋予level选项，axis=1
frame.sum(level="id",axis=1)

id              1   2
colors status
blue   1        2   4
       2       10  12
red    3       18  20
       4       26  28