In [8]:
import pandas as pd 
import numpy as np 
arr1 = np.random.rand(4,3)
pd1 = pd.DataFrame(arr1, columns=list('abc'), index=list('ABCD') )
f = lambda x: '%0.2f' % x    #lambda是用来创建一个函数
pd2 = pd1.applymap(f).astype(float)   #每个数据只保留两位小数
pd2

      a     b     c
A  0.29  0.98  0.00
B  0.63  1.00  0.54
C  0.91  0.07  0.37
D  0.19  0.43  0.40

In [12]:
# 常用的统计计算
# sum, mean, max, min…
# axis=0 按列统计，axis=1按行统计
# skipna 排除缺失值， 默认为True

print(pd2.sum()) #默认把这一列的Series计算,所有行求和
print(pd2.sum(axis='columns')) #指定求每一行的所有列的和
pd2.idxmax(axis='columns')#查看每一列所有行的最大值所在的标签索引，同样我们也可以通过axis='columns'求每一行所有列的最大值的标签索引

a    2.02
b    2.48
c    1.31
dtype: float64
A    1.27
B    2.17
C    1.35
D    1.02
dtype: float64

A    b
B    b
C    a
D    b
dtype: object

In [15]:
# 常用的统计描述
# describe 产生多个统计数据
pd2.describe() # 查看汇总

              a         b         c
count  4.000000  4.000000  4.000000
mean   0.505000  0.620000  0.327500
std    0.329191  0.451885  0.230561
min    0.190000  0.070000  0.000000
25%    0.265000  0.340000  0.277500
50%    0.460000  0.705000  0.385000
75%    0.700000  0.985000  0.435000
max    0.910000  1.000000  0.540000

In [17]:
#百分比:除以原来的量
#查看行的百分比变化，同样指定axis='columns'列与列的百分比变化
pd2.pct_change(axis='columns')

    a         b         c
A NaN  2.379310 -1.000000
B NaN  0.587302 -0.460000
C NaN -0.923077  4.285714
D NaN  1.263158 -0.069767